
body {
    background-color: #000;
    text-align: center;
    color: #fcfcfc;
    font-size: 20px;
}

#presentations_a {
    float: left;
    height: 500px;
    width: 300px;
}

#script_a {
    float: right;
    text-size-adjust: 500px;
}

#presentations_b {
    float:right;
    height: 500px;
    width: 300px;
}

#script_b {
    float:left;
}

#presentations_alessandro {
    float: left;
    height: 500px;
    width: 400px;
}

#presentations_eliana {
    float: right;
    height: 500px;
    width: 600px; 
}

div {
    text-align: center;
    height: 500px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

ul li{
    font-size: 30px;
    list-style-type: none;
}

#intro {
    margin-top: 150px;
    margin-bottom: 150px;
}

#nav {
    width: 100%;
    height: 100px;
    text-align: center;
}

#navigation {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


#navigation:hover {
    background-color: #F0509A;
}

#myul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa1414;
}

a {
    color: #fcfcfc;
}

#trama {
    font-size: 30px;
}

#capitulos {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#cap-titulo:hover {
    background-color: #aa1414;
}

#mono {
    font-size: 50px;
}

#submono {
    font-size: 30px;
}

#strong-pink {
    color: #F0509A;
}

#strong-red {
    color: #aa1414;
}

